<div>
  <div>
    <h1>
      List of all theaters
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new theater
    </h2>

    <form action="/insert_theater" method="post">
      <div>
        <label for="number_of_seats_box">
          Number of seats
        </label>

        <input type="text" id="number_of_seats_box" name="query_number_of_seats">
      </div>

      <div>
        <label for="turnover_time_box">
          Turnover time
        </label>

        <input type="text" id="turnover_time_box" name="query_turnover_time">
      </div>

      <div>
        <label for="reservations_count_box">
          Reservations count
        </label>

        <input type="text" id="reservations_count_box" name="query_reservations_count">
      </div>

      <button>
        Create theater
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Number of seats
        </th>

        <th>
          Turnover time
        </th>

        <th>
          Reservations count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_theaters.each do |a_theater| %>
      <tr>
        <td>
          <%= a_theater.id %>
        </td>

        <td>
          <%= a_theater.number_of_seats %>
        </td>

        <td>
          <%= a_theater.turnover_time %>
        </td>

        <td>
          <%= a_theater.reservations_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_theater.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_theater.updated_at) %> ago
        </td>

        <td>
          <a href="/theaters/<%= a_theater.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
